<head>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@waline/client@2.14.6/dist/waline.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@waline/client@2.14.6/dist/waline-meta.css">
  </head>
  <body>
    <!-- ... -->
    <div id="waline"></div>
    <script type="module">
      import { init } from 'https://unpkg.com/@waline/client@v2.14.6/dist/waline.mjs';
  
      init({
        el: '#waline',
        lang: 'zh-CN',
        serverURL: 'https://pl.xalaok.top',
        copyright: false,
        locale:{"admin":"👻屑博主","placeholder":"🎉留下你的脚印."},
        dark:'body.dark',
        requiredMeta:["name","email"],
        
      // 设置 emoji 为贴吧与哔哩哔哩
      emoji: [
        'https://cdn.jsdelivr.net/npm/sticker-heo@2022.7.5/Sticker-100',
        '//cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/bilibili',
      ],
      });
    </script>
  </body>
